@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    @Styles.Render("~/CSS/homepage.css")
</head>
<body>
    <div class="container">
   
        <div class="col-md-8 col-md-offset-2">
    
            @Html.ActionLink("Русский язык", "Sections", "Home",
           new  {@class= "btn btn-success btn-lg btn-block " })
           
        </div>
       
    </div><!--container-->
</body>
</html>