@import url(https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);
.buttons {
  margin-top: 130px;

}
.btn {
 margin-top:200px;
  text-decoration:none;
    color:white;
  font-size:45px;
font-family: 'Neucha', cursive;
 }

 a{
    text-decoration:none;
    color:white;
  font-size:45px;
font-family: 'Neucha', cursive;
}

a:hover{
    text-decoration:none;
}
