@import url(https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);
.buttons {
  margin-top: 130px;

}
.btn {
 margin-bottom:50px;
 }

a.btn{
  font-size:45px;
font-family: 'Neucha', cursive;
}
